<div style="display: inline-block;margin-right: 8px">
  <span *ngIf="windDirections.length > 0">
    <span *ngFor="let windDirection of windDirections"
         class="inline-block mat-weather-card-container"
         style="display: inline-block;">
      <app-wind-direction-thumbnail
        [windSpeed]="windDirection.wind_mph"
        [windSpeedUnit]="'mph'"
        [windDirection]="windDirection.wind_dir"
        [date]="windDirection.time">
      </app-wind-direction-thumbnail>
    </span>
  </span>

  <div *ngIf="!windDirections || windDirections.length === 0">
    No data available
  </div>
</div>
